name: Test NGINX Configuration

on:
    push:
        branches:
            - main

jobs:
    test-nginx-configuration:
        name: View NGINX
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
            
            - name: Setup NGINX service
              uses: nyurik/action-setup-nginx@v1
              id: nginx
            - run: |
                # echo "Hello, world!" > "${{ steps.nginx.outputs.html-dir }}/index.html"
      
                curl http://localhost:${{ steps.nginx.outputs.port }}/
                # Expected output: Hello, world!

                cat "${{ steps.nginx.outputs.access-log }}"
                # Expected to contain a line with   GET /   HTTP/1.1   200